{% extends "layout_admin.njk" %}

{% block content_admin %}
   
<section>
    <form class="recipe-create" method="POST" action="/admin/chefs?_method=PUT">
        <div class="admin-info">
            <h2>Editando Chef</h2>
            <div><button type="submit">Salvar chef</button>
                 
            </div>
                
        </div>
        
       {% include 'admin/chefs/fields.njk' %}
        <input type="hidden" name="id" value="{{chef.id}}">
    </form>
    <form method="POST" action="/admin/chefs?_method=DELETE">
        <input type="hidden" name="id" value={{chef.id}}>
        <button type="submit">Deletar chef</button>
    </form>
</section>   

{% endblock %}