{% extends "layout_admin.njk" %}

{% block content_admin %}
   
<section>
     <form id="form-delete"class="button-delete" method="POST" action="/admin/chefs?_method=DELETE">
        <input type="hidden" name="id" value={{chef.id}}>
        <button class="button-delete"type="submit">Deletar chef</button>
    </form>
    <form class="recipe-create" method="POST" action="/admin/chefs?_method=PUT">
        <div class="button-edit">
            <h2>Editando Chef</h2>
            <div><button type="submit">Salvar chef</button>
                 
            </div>
                
        </div>
        
       {% include 'admin/chefs/fields.njk' %}
        <input type="hidden" name="id" value="{{chef.id}}">
    </form>
   
</section> 
{% include 'confirm.njk' %}   

{% endblock %}