{% extends "layout_admin.njk" %}

{% block content_admin %}
    <div class="contents index">
       <div class="admin-info">
            <h2>Gerenciar chefs</h2>
            <div><a href="/admin/chefs/create">Criar chef</a></div>
                
        </div>
       <section class="box-cards">
        
            
        {% for chef in chefs %}

            <div class="box-card">
                <div class="box-card-img">
                    <img src="{{chef.avatar_url}}" alt="Imagem do {{item.name}}">
                </div>
                <div class="box-name">
               
                    <p><img src="/assets/chef-1.png" alt="">  {{chef.name}}</p>
                    
              
                    
                </div>
                
                <input id="idChef" type="hidden" value={{chef.id}} >
            </div>
        {% endfor %}

    
     
    </section>
    <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
    </div>
     <script src="/scripts/script.js"></script>
{% endblock%}
