{% extends "layout.njk" %}

{% block head %}

    <head>
        <title>Foodfy - Recipes</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
{% endblock %}

{% block content %}
    <div class="contents index">
        <form class="filter" action="/recipes" method="GET">
               <img src="/assets/garfo.png" style="width: 36px" alt="">
                <input class="filter"
                    type="text"
                    name="filter"
                    placeholder="Receita"
                    value="{{filter}}"
                    >
                <button class=""type="submit">Filtrar</button>
        </form>
       <section class="box-cards">
        
            
        {% for recipe in recipes %}

            <div class="box-card">
                <div class="box-card-img">
                    <img src="{{recipe.image}}" alt="Imagem do {{recipe.title}}">
                </div>
                <div class="box-name">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="box-info">
                    <p><img src="/assets/chef-1.png" alt="">  {{recipe.author}}</p>
                </div>
                <input id="idRecipe" type="hidden" value={{recipe.id}} >
            </div>
        {% endfor %}

    </section>
    <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
    </div>
     <script src="/scripts/script.js"></script>

    {% endblock %}