@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: white;
    color: black;
}

.header-box{
    padding: 30px;
    margin: 24px;
   
}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 650px;
    align-items: center;

}
.links h1{
    font-weight: normal;
    width: 90px;
    padding: 24px;
    /* height: 27px;
    margin-top: 36px;
    margin-left: 26px;
    margin-right: 123px; */
}

.links h1 a{
    font-size: 24px;
}

.links a{
    
    width: 42px;
    height: 19px;
    padding: 24px;
    color: black;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}

.box-description{
    display: flex;
    justify-content: space-between;
    background-color: #f8dfbb;
    width: 940px;
    height: 366px;
    padding: 40px;
    margin: 50px auto;
    border-radius: 30px;
        
}

.box-description-title{
    margin-top: 117px;
    margin-bottom: 10px;

   
    
}
.box-description-title p{
    font-weight: normal;
    width: 316px;
    height: 84px;
    
}
.box-description-img{
   width: 216px;
   height: 300px;
   margin-right: 100px;
   margin-top: 66px;
}

.box-acess{
    padding: 10px 36px;
}

/* ==about== */

.about-desc{
    padding: 24px;
    width: 940px;
    height: 280px;
    margin: 16px auto;
}

.about-desc h2{
    margin-bottom: 16px;
    margin-top: 16px;
}

.about-desc p{
    padding: 10px;
    line-height: 24px;
}

/* ==box cards ==*/

.box-cards h3{
    font-size: 24px;
    font-weight: bold;

}
.box-cards{
    /* margin: 0 auto; */
    padding: 36px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.box-card{
    display: grid;
    padding: 8px;
    align-items: center;
    cursor: pointer;

}
.box-card:hover{
    box-shadow: inset 0 0 1em black, 0 0 1em lightcoral; 
    transition: 500ms;
    border-radius: 8px;
    
}

.box-card-img{
    max-width: 800px;
    max-height: 800px;
    padding: 65px;
    display: grid;
    align-items: center;
    position: relative;
}
.box-card-img img{
    border-radius: 15px;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.box-name p{
    font-weight: bold;
    margin-bottom: 10px;
}


/* ===recipes page=== */
.img-recipe{
    display: grid;
    align-items: center;
   

}
    
.img-recipe h1, .img-recipe img, .img-recipe p{
    margin: 0 auto;

}
.img-recipe img{
    border-radius: 15px;
    max-width: 800px;
    max-height: 800px;
}

.repice-info{
    margin: 0 auto;
    padding: 15px 20%;
}

.repice-info h1, .repice-info h2{
    margin-bottom: 5px ;
    margin-top: 5px;
    padding: 5px;
   
}

.info-ingredients, .info-preparation, .info-add{
    display: flex;
    align-items: center;
}
.info-ingredients h2, .info-preparation h2, .info-add h2{
  max-width: 500px;
}
.desc{
    padding: 5px 30px;
    margin: 0 auto;
}

.desc li{
    padding: 5px 20px;
}
.info-hidden{
    cursor: pointer;
    text-decoration: underline;
}

.info-hidden:hover{
    color: gray;
}

/* ===Admin=== */
.header-admin{
    background-color: #111;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    margin-bottom: 36x;
}
.admin-info a, 
.admin-info h2{
    color: black;
    font-size: 16px;
    padding: 8px;
}
.admin-info a, button[type="submit"]{
    text-decoration: none;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 8px;

}
.header-admin h1 a{
    text-decoration: none;
    color: white;
}
.admin-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 26px auto;
    text-align: center;

}

h3{
    margin-top: 30px;
    margin-left: 36px;
    text-align: center;
}

/* ===form=== */

section{
    background-color: whitesmoke;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    padding: 16px 36px;
    box-shadow: inset 0 0 1em gray, 0 0 1em white; 
}

input{
    width: 100%;
    outline: none;
    font-weight: bold;
    font-size: 22px;
    margin: 16px 4px;
    border-radius: 4px;
    color: #555;
}

span{
    font-size: 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: gray;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}