{% extends "layout_admin.njk" %}

{% block content_admin %}
   
<section>
    <form class="recipe-create" method="POST" action="/admin/recipes">
        <div class="admin-info">
            <h2>Criando receita</h2>
            <div><button type="submit">Salvar receita</button></div>
                
        </div>
        
        <div class="item">
            <div>Imagem da receita</div>
                <div>
                    <input 
                        type="url" 
                        name="image"
                        placeholder="http:\\"
                       
                    >
            </div>
        </div>
        <div class="item">
            <div>Nome</div>
                <div>
                    <input 
                        type="text" 
                        name="title"
                                    
                    >
            </div>
        </div>
        <div class="item">
            <div>Chef</div>
                <div>
                    <input 
                        type="text" 
                        name="author"
                     
                    >
            </div>
        </div>
        <div class="item" id="ingredients">
            <div>Ingredientes</div>
                <div class="ingredient">
                    <input 
                        type="text" 
                        name="ingredients[]"
                     
                    >
                  
            </div>
        </div>
        <span class="add-ingredient">Adicionar ingredientes</span>
       
        <div class="item" id="preparations">
            <div>Modo de preparo</div>
                <div class="preparation">
                    <input 
                        type="text" 
                        name="preparation[]"
                     
                    >
            </div>
        </div>
        <span class="add-preparation">Adicionar novo passo</span>
        <div class="item">
            <div>Informações adicionais</div>
                <div>
                    <input 
                        type="text" 
                        name="information"
                     
                    >
            </div>
        </div>
    </form>
</section>   

<script src="/scripts/additems.js">
</script>
{% endblock %}