<!DOCTYPE html>
<html>

   <title>Foodfy - admin</title>
   <link rel="stylesheet" href="/css/style.css">
    <body>
        <header class="header-admin">
               <h1><a href="/">Foodfy</a> </h1>
        </header>
        <h2>
            Gerenciador de receitas
        </h2>
 
    </body>
</html>