{% extends "layout_admin.njk" %}

{% block content_admin %}
  <h3>Gerenciador de Receitas</h3>
       <section class="box-cards">

        {% for item in items %}

            <div class="box-card">
                <div class="box-card-img">
                    <img src="{{item.image}}" alt="Imagem do {{item.title}}">
                </div>
                <div class="box-name">
                    <p>{{item.title}}</p>
                </div>
                <div class="box-info">
                    <p>{{item.author}}</p>
                </div>
            </div>
        {% endfor %}

    </section>
     <script src="/scripts/script.js"></script>
{% endblock%}
