{% extends "layout_admin.njk" %}

{% block content_admin %}
   
<section class="contents">
    <form class="recipe-create" method="POST" action="/admin/recipes">
        <div class="admin-info">
            <h2>Criando receita</h2>
            <div><button type="submit">Salvar receita</button></div>
                
        </div>
        
       {% include 'admin/recipes/fields.njk' %}

    </form>
</section>   

<script src="/scripts/additems.js">
</script>
{% endblock %}