{% extends "layout_admin.njk" %}

{% block content_admin %}
   
<section class="contents">
    <form id="form-delete"class="button-delete" method="POST" action="/admin/recipes?_method=DELETE">
        <input type="hidden" name="id" value={{recipe.id}}>
        <button class="button-delete"type="submit">Deletar</button>
    </form>
    <form class="recipe-create" method="POST" action="/admin/recipes?_method=PUT" enctype="multpart/form-data">
        <div class="button-edit">
            <h2>Editar receita</h2>
            <div><button type="submit">Salvar receita</button></div>
                
        </div>
         <input type="hidden" name="id" value={{recipe.id}}>
        
        {% include 'admin/recipes/fields.njk' %}
    </form>
    
</section>   
{% include 'confirm.njk' %}
<script src="/scripts/additems.js">
</script>
{% endblock %}