        <div class="item">
            <div>Imagem da receita</div>
                <div class="gallery">
                    <div id="photos-upload">
                        <input
                            id="photos-input" 
                            type="file" 
                            name="photos"
                            multiple
                            accept="image/*"
                            onchange="PhotosUpload.handleFileInput(event)"
                                              
                        >
                        <div class="box-upload">
                            <p>Selecione até 6 fotos</p>
                            <i class="material-icons">archive</i>
                        </div> 
                    
                    </div>
                    <div id="photos-preview">
                       
                        <input type="hidden" name="removed_files">
                    </div>
                 </div>
                </div>
                
        
        <div class="item">
            <div>Nome</div>
                <div>
                    <input 
                        type="text" 
                        name="title"
                        value="{{recipe.title}}"
                                    
                    >
            </div>
        </div>
        <div class="item">
            <div>Chef</div>
                
                <select name="chef_id">
                    {% for chef in chefsOptions %}
                    <option value="{{chef.id}}"
                      {% if chef.id == recipe.chef_id %}
                      selected
                      {% endif %}  
                    >{{chef.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="item" id="ingredients">
            <div>Ingredientes</div>
                
                {% for ingredient in recipe.ingredients %}

                    <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredients[]"
                            value="{{ingredient}}"
                        >
                  
                    </div>
                {% else %}

                    <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredients[]"
                            value="{{ingredient}}"
                        >
                  
                    </div>

                {% endfor %}
        </div>
        <span class="add-ingredient">Adicionar ingredientes</span>
               
        <div class="item" id="preparations">
            <div>Modo de preparo</div>
                {% for preparation in recipe.preparation %}
                    <div class="preparation">
                        <input 
                            type="text" 
                            name="preparation[]"
                            value="{{preparation}}"
                     
                        >
                    </div>
                {% else %}
                    <div class="preparation">
                        <input 
                            type="text" 
                            name="preparation[]"
                        >
                    </div>

                {% endfor %}    
        </div>
        <span class="add-preparation">Adicionar novo passo</span>
        <div class="item">
            <div>Informações adicionais</div>
                <div>
                    <textarea name="information">{{recipe.information}}</textarea>
                    
                </div>
        </div>