{% extends "layout_admin.njk" %}

{% block content_admin %}
    <div class="contents index">
       <div class="admin-info">
            <h2>Editar receita</h2>
            <div><a href="/admin/recipes/create">Criar receita</a></div>
                
        </div>
       <section class="box-cards">
        
            
        {% for recipe in recipes %}

            <div class="box-card">
                <div class="box-card-img">
                    <img src="{{recipe.image}}" alt="Imagem do {{recipe.title}}">
                </div>
                <div class="box-name">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="box-info">
                    <p><img src="/assets/chef-1.png" alt="">  {{recipe.author}}</p>
                </div>
                <input id="idAdmRecipe" type="hidden" value={{recipe.id}} >
            </div>
        {% endfor %}

    </section>
    <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
    </div>
     <script src="/scripts/script.js"></script>
{% endblock%}
