{% extends "layout_admin.njk" %}

{% block content_admin %}
   <div class="admin-info">
       <h2>{{recipe.title}}</h2>
        <div><a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a></div>
   </div>
    
    <div class="img-recipe">
        <div class="recipe-img" style="background: url({{recipe.image}}) no-repeat center center /cover">
        
    </div>
    <div class="repice-info">
        <h1>{{recipe.title}}</h1>
        <p>Por
            {{recipe.chef_id}}</p>
        <div class="info-ingredients">
            <h2>Ingredientes</h2>
            <a class="info-hidden" id="1">
                Esconder</a>

        </div>
        <ul class="desc" id="p1">
            {% for item in recipe.ingredients %}
                <li>{{item}}</li>
            {% endfor %}

        </ul>
        <div class="info-preparation">
            <h2>Modo de preparo</h2>
            <a class="info-hidden" id="2">
                Esconder</a>

        </div>
        <ul class="desc" id="p2">
            {% for item in recipe.preparation %}
                <li>{{item}}</li>
            {% endfor %}

        </ul>

        {% if recipe.information %}
            <div class="info-add">
                <h2>Informações adicionais</h2>
                <a class="info-hidden" id="3">
                    Esconder</a>

            </div>
            <div class="desc" id="p3">{{recipe.information}}</div>
        {% endif %}

    </div>
    <script src="/scripts/script.js"></script>
{% endblock %}