<!DOCTYPE html>
<html>

    {% block head %}
    <title>Foodfy</title>
    {% endblock %}

    <body>
        <header class="header-box">
            <div class="links">
               <h1 > <a href="/">Foodfy</a> </h1>
               <a href="/about">Sobre</a>
               <a href="/recipes">Receitas</a>
           </div>
        </header>
        {% block content %}

        {% endblock %}
    </body>
</html>