<!DOCTYPE html>
<html>

   <title>Foodfy - admin</title>
   <link rel="stylesheet" href="/css/style.css">
    <body>
        <header class="header-admin">
               <h1><a href="/admin">Foodfy</a> </h1>
        </header>
        {% block content_admin %}

        {% endblock %}
 
    </body>
</html>