<!DOCTYPE html>
<html>

   <title>Foodfy - admin</title>
   <link rel="stylesheet" href="/css/style.css">
    <body>
        <header class="header-admin">
               <h1><a href="/">Foodfy</a> </h1>
               <a href="/admin/recipes">Recipes</a>
               <a href="/admin/chefs">Chefs</a>
        </header>
        {% block content_admin %}

        {% endblock %}
 
    </body>
</html>