<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/css/style.css">
    {% block head %}
    <title>Foodfy</title>
    {% endblock %}

    <body>
        <header class="header-admin">
            
               <h1 > <a href="/">Foodfy</a> </h1>
               <a href="/about">Sobre</a>
               <a href="/recipes">Receitas</a>
               <a href="/chefs">Chefs</a>
               <a href="/admin">Adm</a> 
               
        </header>
        {% block content %}

        {% endblock %}
    </body>
</html>